VITE_FIREBASE_CONFIGURATION={"apiKey":"xxxxxxxxxxxxxxxxxxxxxxxxxx","authDomain":"gantt-with-realtime-firebase.firebaseapp.com","databaseURL":"https://gantt-with-realtime-firebase-default-rtdb.firebaseio.com","projectId":"gantt-with-realtime-firebase","storageBucket":"gantt-with-realtime-firebase.firebasestorage.app","messagingSenderId":"929551901435","appId":"1:929551901435:web:4b0d4f77c3abd01367865e","measurementId":"G-QBQ9RV6KN1"}
