@import url("../node_modules/dhtmlx-gantt/codebase/sources/dhtmlxgantt.css");
/* @import url("../dhtmlx-gantt/codebase/dhtmlxgantt.css"); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
